@media (min-width: 0px) and (max-width: 400px) {
    #container-home {
        padding-top: 0vh;
    }
}

@media (min-width: 0px) and (max-width: 200px) {
    #img-home {
        min-width: 100px;
        max-width: 125px;
    }
}

@media (min-width: 356px) and (max-width: 400px) {
    #img-home {
        margin-top: 15vh;
    }
}

@media (min-width: 400px) and (max-width: 450) {
    #img-home {
        margin-top: 10vh;
    }
}