@media (min-width: 0px) and (max-width: 400px) {
    #container-home {
        padding-top: 0vh;
    }

    #img-home {
        min-width: 50vw;
        max-width: 50vw;
        /* max-height: 300px; */
    }
}

@media (min-width: 100.1px) and (max-width: 200px) {
    #img-home {
        min-width: 80vw;
        max-width: 80vw;
    }
}

@media (min-width: 356px) and (max-width: 400px) {
    #img-home {
        margin-top: 15vh;
    }
}

@media (min-width: 400px) and (max-width: 450) {
    #img-home {
        margin-top: 10vh;
    }
}

@media (min-height: 0px) and (max-width: 400px) {
    #container-home {
        padding-top: 10vh;
    }

    .pricing-table {
        width: 80vw;
        /* height: 560px; */
    }
}

@media (min-height: 0px) and (max-width: 160.1) {
    #navbar-brand {
        font-size: 15px;
    }

    #img-home {
        max-width: 100px;
    }

    .header-features-2 {
        font-size: 24px;
    }
}

@media (min-height: 992px) {
    #pricing-table-1 {
        width: 80vw;
        transform: translateX(70px);
    }

    #pricing-table-2 {
        width: 80vw;
        transform: translateY(70px);
    }

    .navbar-floating {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 0 50px 0;
    }
}