body {
    overflow-x: hidden;
    /* remove the horizontal scrollbar */
}

.home {
    height: 900px;
    background-image: url("../images/bg-hero-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#container-home {
    padding-top: 20vh;
}

#header-home {
    margin-top: 15vh;
}

#img-home {
    max-height: 500px;
    min-width: 170px;
}

/* .navbar-floating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 50px 0;
} */

#btn-nav {
    padding: 10px 15px;
    margin-right: 20px;
    background-color: rgb(39, 39, 167);
    color: white;
    border-radius: 20px;
}

#btn-nav:hover,
#btn-submit:hover {
    box-shadow: 0 4px 16px 1px darkblue;
}

#fa1,
#fa2,
#fa3 {
    font-size: 30px;
    padding: 15px;
    margin: 10px 0;
    border-radius: 50%;
    color: white;
}

.features {
    padding-bottom: 100px;
    background-image: url("../images/pattern_1.svg");
}

.features-2 {
    padding: 150px 0;
    background-image: url("../images/pattern-2.svg");
}

.features-3 {
    padding: 100px 0;
    background-color: #383340;
}

/* .pricing {
    background-image: url("../images/pattern_1.svg");
} */

.pricing-table {
    width: 300px;
    height: 560px;
}

#pricing-table-1 {
    background-image: url("../images/pricing-pattern-grayscale.svg");
    box-shadow: 0 6px 10px 3px black;
}

#pricing-table-2 {
    background-image: url("../images/pricing-pattern.svg");
    box-shadow: 0 10px 6px 3px black;
}

.pricing-head {
    padding-top: 42%;
}

.customer-service {
    color: white;
    padding: 50px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.356), rgba(255, 255, 0, 0.356)), url("../images/bg-testimonials.png");
    background-size: cover;
    background-attachment: fixed;
}

#btn-customer {
    color: white;
    border: 2px solid white;
    border-radius: 15px;
}

#btn-submit {
    color: white;
    padding: 5px 35px;
    background-color: rgba(25, 25, 179);
    border-radius: 15px;
}

.footer {
    color: white;
    background-color: #383340;
    padding: 50px 0;
}